* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #96add6;
}

.container {
    background-color: #f2eee9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    width: 85%;
    padding: 12px;
    border-radius: 5px;
    border: 3px solid #ddd;
}

#add-btn {
    padding: 10px;
    border: none;
    background-color: #00408c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-btn:hover {
    background-color: #96add6;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .task-text {
    flex-grow: 1;
    padding-right: 10px;
}

li .edit-btn, li .delete-btn {
    background-color: #f9b8af;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

li .edit-btn:hover {
    background-color: #f2d7d3;
}

li .delete-btn {
    background-color: #e85234;
}

li .delete-btn:hover {
    background-color: #e39282;
}
